@use '../../scss/variables' as *;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	inline-size: 100%;
	block-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
}

.content {
	position: relative;
	display: flex;
	min-inline-size: 25%;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 20px;
	border-radius: $border-radius;
}

.close {
	cursor: pointer;
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 20px;
	border: none;
	background-color: transparent;
}
