@use '../../scss/variables' as *;

.button {
	font-size: $font-size-base;
	color: $text-color-primary;
	border: transparent;
	border-radius: $border-radius;
	padding: 10px;
	background-color: $button-bgcolor-primary;

	&:hover {
		cursor: pointer;
	}
}

.primary {
	color: $text-color-primary;
	background-color: $button-bgcolor-primary;
}

.outline {
	color: $text-color-secondary;
	background-color: $button-bgcolor-secondary;
}

.secondary {
	color: $text-color-secondary;
	background-color: $button-bgcolor-secondary;
}
