$font-family: 'Open Sans', sans-serif;

$font-size-base: 16px;
$font-size-less: 14px;
$font-size-more: 16px;

$background-color: white;
$background-color-secondary: #7dcdd7;

$text-color-primary: white;
$text-color-secondary: #374146;

$font-weight-base: 400;
$font-weight-more: 500;

$link-color: white;

$button-bgcolor-primary: #ea5a0a;
$button-bgcolor-secondary: #6c757d;

$border-radius: 5px;
