$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$background-color: #f4f4f4;
$background-color-secondary: #e6ccb2;
$text-color: #333333;
$font-weight: 400;
$link-color: #007bff;
$link-color-hover: #0056b3;
$button-bgcolor: #007bff;
$button-bgcolor-hover: #0056b3;
$border-radius: 5px;